body {
    background-image: url("./img/bg.jpg");
}

.navbar-brand {
  font-size: xx-large;
}

.top-buttons {
  float: right;
  margin: 1%;
}

.top-buttons li {
  margin: 0 2px;
}

.article {
  margin: 3% 5%;
}

.article img {
  box-shadow: 5px 5px 12px rgb(78, 78, 78);
}

.article h2 {
  color: rgb(59, 59, 59);
  font-weight: bolder;
}

.article p {
  color: rgb(63, 22, 22);
  font-weight: bold;
}

.load {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

/*MODAL*/
.modal-content {
  background-color: orange;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center 12%;
  border-radius: 0;
  /* font-family: 'Rock Salt', cursive; */
  color: #777;

}

.modal-body {
  padding-top: 0;
  width: 80%;
  margin: 0 auto;
}

.form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

#titleinput {
  margin-top: 1%;
}

#bodyinput {
  margin-top: .5%;
}

#savenote {
  margin-left: 45%;
}